
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/*******************
 Basic Style 
 *******************/

body {
  	background-color: white;
  	font-family: 'Roboto', Helvetica, Arial, sans-serif;
  	font-weight: 400;
  	line-height: 1.45;
  	color: #757575;
}

h1,h2 {
  	font-size: 23px;
  	margin: 0;
  	font-weight: 500;
  	line-height: 32px;
}

h1{
	color:white;
	float:left;
	padding-left:15px;
}

h2{
	color:#757575;
	margin-top:30px;
	margin-bottom: 30px;
}

h3{
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	display: inline-block;
	margin-right: 16px;
	position: relative;
}

button,
input {
  	font-size: 100%; 
  	height: 40px;
}

input{
	box-sizing: border-box;
    margin-right: 16px;
    padding: 0 0 0 12px;
    border: 1px solid #EEE;
    background: #FAFAFA;
}

button{
    border: none;
    background: #EDEDED;
	padding: 0 24px;
	font-weight: 500;
} 
span{
	line-height: 24px;
	display: inline-block;
	margin-right:16px;
}

/*******************
 Header  
*******************/
header,.App-main{
	margin:0 auto;
	padding: 32px;
	width:912px;
}

header{ 
	background: #ADB5BD;
}

.App-main{
	background: #F1F1F1;
}

.logo{
	width:32px;
	height: 32px;
	float:left;
	background: #fff;	
	background-image:url('../logo.png');
}



/*******************
 Button  
*******************/

.btnAddNew{
	float:right;
	color: #757575;
}
.btnCancel,.btnSave{
	color:#07f;
}
button:hover{
	color:#fff;
	background: #07f;
}
.btnSave{
	margin-left:8px;
}

/*******************
Validation popup box 
*******************/

/* Popup container*/
.popup {
    position: relative;
    cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
	width: 300px;
	opacity: .7;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
	position: absolute;
	top: -102px;
    right: -33px;
    z-index: 1;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Add animation (fade in the popup) */
.popup{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*******************
 Component's wrapper  
*******************/


.addNewPerson{
	padding: 16px;
	background: #FFFFFF;
}
.tableHeader{
	height: 48px;
	padding:0 24px;
}
.list {
	background: #FFFFFF;
	margin-top: 8px;
}

.item{
	height:72px;
	color:#505050;
	border-top: 1px #EEE solid;
	padding: 24px;
	box-sizing: border-box;
	position:relative;

}
.item>div{
	display:inline-block;
}

/*******************
Form of Editing Function
*******************/

.formItem{
	position:absolute;
	top: 16px;
	display: inline-block;
	left: 16px;
}

.spanItem{
	position:absolute;
	top: 16px;
	display: inline-block;
	right:16px;
	margin:0px;
}




/*******************
 Icons  
*******************/
.material-icons{
	color:#909090;
	margin-left: 24px;
}

.material-icons:hover{
	color:#07f;
}
.icons{
	float:right;
}
.arrow{
	font-family: 'Material Icons';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
	line-height: 16px;
	position: absolute;
	left:45px;	
}
.arrow:hover{
	color:#07f
}


/*******************
 Column width adjustment  
*******************/

h3:first-child,.name,form>input:first-child{
	width: 165px;
}

h3:nth-child(2),.email,form>input:nth-child(2){
	width: 275px;
}

h3:nth-child(3),.phone,form>input:nth-child(3){
	width: 190px;
}

/*******************
Clearfix
*******************/
.clearfix{
	content:"";
	display: table;
	clear:both;
}
